.fake/
.vs/
.fsdocs/
tmp/
[Bb]in/
[Oo]bj/
packages/
paket-files/
node_modules/
.idea/
*.orig
*.DotSettings.user
deploy*/
.ionide/
.paket/load/
package/
.logs/
.certs/
deployServerApiDocs
package-lock.json
bundle.js
*.fs.js
*.fs.js.map
AssemblyInfo.fs
nuget_dist/